body {
    background-color: slategrey;
    text-align: center;
}

p {
    color: white;
    font-family: Helvetica;
    font-size: 1.2em;
    margin: 20px;
}

label{
    color: white;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 25px;
    border-radius: 15px; 
    background: #d3d3d3;
      opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}


.slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    background: palevioletred;
}
.slider::-moz-range-thumb{
    background: palevioletred;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    flex-basis: 7%;
    margin: 0 0 0 0;
}

.text{
    padding-left: 10px;
    font-family: Helvetica;
    color :white;
    
}

p.header{
    font-size: 50px;
}

img.logo {
    max-width: 40%;
    max-height: 40%;
    margin: 0 0 0 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-container > div {
    height: 70px;
    align-items: center;
  }

input {
    width: 130px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: Helvetica;
    text-align: center;
    font-size: 1.3em;
}

#colorpicker
{
    width: 50px;
    height: 50px;
    border-radius: 0px;
    margin-top: 10px;
    
}

#cmd_input{
    width: 300px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: Helvetica;
    text-align: center;
    font-size: 1.3em;
}

#cmd_input:focus {
    border: solid 5px #00ffce;
    outline: none;
}

input[type=submit]{
    background-color: palevioletred;
    color: white;
    width: 200px;
}

input[type=submit]:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}