<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GB UART WEBAPP</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="{{url_for('static', filename='gbuilds_logo.png')}}">
        <br>
        <form action="send" method="post">
            {% for message in get_flashed_messages()%}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            <input type="submit" value="SEND" id="send">
        </form>
    </body>
</html>