<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sunrise Alarm Clock</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="image">
                <img src="{{url_for('static', filename='gbuilds_logo.png')}}">
            </div>
            <div class="text">
                <p class="header">Sunrise Alarm Clock</p>
                <p class="subheader">by Greg's Builds</p>
            </div>
        </div>
        <br>
        <div class="flex-container">
            <div>
                <form action="rainbow" method="post">
                    <input type="submit" value="rainbow" id="rainbow">
                </form> 
            </div>
            <div>
                <form action="moonlight" method="post">
                    <input type="submit" value="moonlight" id="moonlight">
                </form> 
            </div>
            <div>
                <form action="off" method="post">
                    <input type="submit" value="off" id="off">
                </form> 
            </div>
        </div>

        <form action="colour" method="post">
            <label for="colorpicker">Pick a colour:</label>
            <input type="color" name="color_input" id="colorpicker" value="0000ff">
            <label for="brightness">Select brightness:</label>
            <input type="range" min="1" max="100" value="100" class="slider" name="brightness_input" id="brightness">
            <br>
            <input type="submit" value="Set Colour" id="colour">
            
        </form> 
        <hr>
        <p>Alarm is set to: {{ alarm_time }}</p>
        <form action = "setAlarm" method="post">
            <label for="alarmTime">Select an Alarm time:</label>
            <input type="time" id="alarmTime", value="12:00" name="alarmTime">     
            <input type="submit" value = "Set alarm" id = "setAlarmButton">
        </form>
        <form action = "disableAlarm" method="post">
            <input type="submit" value = "Disable alarm" id = "disableAlarmButton">
        </form>
        <hr>
        <form action="send" method="post">
            {% for message in get_flashed_messages()%}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input" id = "cmd_input">
            <br>
            <input type="submit" value="SEND" id="send">
        </form>
    </body>
</html>